@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fac1fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8fe9;
}
